<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020187359282-cmo7c2bs8nlcjlr50kdipmeltb78disq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020187359282-cmo7c2bs8nlcjlr50kdipmeltb78disq</string>
	<key>API_KEY</key>
	<string>AIzaSyA-LhjVhLy_NxpkeOq7HOlU60llDoXZUUc</string>
	<key>GCM_SENDER_ID</key>
	<string>1020187359282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developlogix.eatwise</string>
	<key>PROJECT_ID</key>
	<string>eatwise-39b38</string>
	<key>STORAGE_BUCKET</key>
	<string>eatwise-39b38.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020187359282:ios:449011615ce41a8db4642b</string>
</dict>
</plist>